// Navigation Styles here
nav {
  border: 2px solid red;
  display: flex;
  justify-content: flex-end;
  padding: 3%;
  margin: 0 5%;

  div {
    width: 50%;
  } //this closes the div

  a {
    border: 2px solid blue;
    font-size: 1.6rem;
    text-decoration: none;
  } //this closes the anchor
}

nav .logo {
  margin-left: 0;
}

nav .links {
  display: flex;
  justify-content: space-around;
  border: 2px solid gold;
}
