// Navigation Styles here
nav {
  display: flex;
  justify-content: flex-end;
  padding: 3%;
  border-bottom: 1px dashed gray;
  width: 100%;

  div {
    width: 50%;
  } //this closes the div

  a {
    font-size: 1.6rem;
    text-decoration: none;
  } //this closes the anchor
}

nav .logo {
  margin-left: 5%;
}

nav .links {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  color: black;
}
